<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anything.asus.remindmemyself"
    android:versionCode="6"
    android:versionName="3.3">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/my_bus" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/traffic" />

        <!-- [START fcm_disable_auto_init] -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <!-- [END fcm_disable_auto_init] -->

        <activity
            android:name=".firstActivity"
            android:label="@string/title_activity_first"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActiviy"
            android:label="StartPage"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GeofenceSettings1"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RecylerViewActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScheduleImage"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:parentActivityName=".RecylerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".RecylerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splashscreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminLoginPage"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserLoginPage"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".AdminOptions"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".LocationAlertActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".BusReminderAlertActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <service
            android:name=".TrackerService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />
        <service
            android:name=".BusTrackerService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />
        <service
            android:name=".GeofenceTransitionsIntentService"
            android:enabled="true"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <receiver
            android:name=".closeReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SettingsPage"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <service
            android:name=".AdminBackground"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <activity
            android:name=".AdminsPage"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".FeedbackPage"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".ScheduleCardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".About"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".OTPactivity"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".NotificationActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".AddPage"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".DeletePage"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".PasswordsImage"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".MasterAdminPass"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".RouteSettings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".RouteOptions"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".adminprofile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".editProfile"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".emptyFeedbackLayout"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".emptyAdmin_layout"
            android:launchMode="singleTop"
            android:parentActivityName=".firstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".central_admin_settings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".force_out"
            android:parentActivityName=".central_admin_settings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".radius_time"
            android:parentActivityName=".central_admin_settings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:parentActivityName=".central_admin_settings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name=".masterpass_view_activity">

        </activity>
    </application>

</manifest>